.body {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    border: none;
    font-family: 'Inter'
    }
    
    .container {
        padding: 20px;
        height: 100vh;
        width: 300px;
        height: 100vh;
        justify-content: center;
        background-color: #ADD8E6;
    }

    .ct {
        display: block;
        justify-content: left;
        font-weight: 600;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .c {
        margin-top: 50px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
    }
    .p {
        margin: 0;
        padding: 5px;
    }
    .box {
        width: 300px;
        height: 30px;
        border-radius: 10px;
        text-align: left;
        border-radius: 10px;
    
    }
    .dt {
        display: flex;
        justify-content: left;
        align-items: center;
        font-weight: bold;
    }

    .bigbox {
        
        width: 300px;
        height: 100px;
        display: grid;
        border-radius: 5px;
        
    }


    
    .lefttext {
        display: flex;
        justify-content: left;
        margin: 0;
        padding: 0;
        
    
    }

    .righttext {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: right;
        
    }

    .bt {
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 6px;
        font-size: 12px;
        
    }
    